body {

}


h1{
  font-family: Georgia, serif;
  font-size: 35pt;
  background-color: #b5d1ff;
  color: #8529e8;
}

li, ol{
	font-family: fantasy;
	font-weight: bold;
	font-size: 20pt;
	line-height: 60px;
	text-shadow: 2px 2px 5px pink;

}

.intro{
	  height: 200px;
  	  position: relative;
 	  margin: 0;
  	  position: absolute;
 	  top: 50%;
  	  left: 50%;
  	  -ms-transform: translate(-50%, -50%);
  	  transform: translate(-50%, -50%);
  display: inline-block;
  animation-timing-function: linear;
  animation-name: wave;
  animation-duration: 1s;
  animation-direction: alternate;
  animation-iteration-count: infinite;
}

h2{
  font-family: cursive;
  font-size: 25pt;
  font-color: #FFFFFF;
}

a{
	color: #8529e8
}

.wrapper{
	position: relative;
	margin: 2%;
}

.body{
    position: absolute;
    margin: auto;
    top:0;
    right:0;
    bottom:0;
    left:0;
}

.arm{
	transform-origin: center bottom;
    position: relative;
    margin: auto;
    top:0;
    right:0;
    bottom:0;
    left:-10.5%;
    animation-timing-function: linear;
  	animation-name: hello;
  	animation-duration: 1s;
  	animation-direction: reverse;
  	animation-iteration-count: infinite;
}



@keyframes hello {
  	25% {transform: rotate(-15deg); }
	50% {transform: rotate(0deg); }
	75% {transform: rotate(15deg); }
	100% {transform: rotate(0deg); }
}
}


@keyframes welcome {
  from{margin-left: 0px;}
20%{opacity: 25;}
50%{transform: rotate(-5deg); background-color: #bafdff;}
}

.menu{
  display: inline-block;
  animation-timing-function: linear;
  animation-name: paragraph;
  animation-duration: 1s;
  animation-direction: alternate;
  animation-iteration-count: infinite;
}

h4{
  font-family: cursive;
  font-variant: small-caps;
  font-size: 30pt;
  font-weight: bolder;
  line-height: 10px;

}

h3{
	font-family: fantasy;
  font-size: 35pt;
  background-color: #b5d1ff;
  color: #8529e8;
}

.breathe{
  animation-timing-function: cubic-bezier();
  animation-name: list;
  animation-duration: 15s;
  animation-direction: reverse;
  animation-iteration-count: infinite;
}

ul {
               font-size: 30px;
               font-style: bold, italic;
               font-family: inherit;
               margin:75px;
               padding:-125px;
               text-align: justify;
               list-style-image:: url('loader.gif');

           }
           ul  li {
               padding: 0px 0px;
           }



.wave{
  animation-timing-function: cubic-bezier();
  display: inline-block;
  animation-name: wave;
  animation-duration: 4s;
  animation-direction: alternate-reverse;
  animation-iteration-count: infinite;
}

@keyframes wave{
  to{
    margin-right: 50px
  }
  from{
    margin-left: 50px;
}
}

.overlap
{
  animation-timing-function: cubic-bezier();
  animation-name: toms;
  animation-duration: 4s;
  animation-direction: alternate-reverse;
  animation-iteration-count: infinite;
  width: 700px;
  height: 250px;
  position: absolute;
  top: 255px;
  left: 345px;
  opacity: 45%;
}

html {
    background: url(mosaic.jpg);
    background-size: 100%;
    opacity: 100%
  }

@keyframes paragraph {
  from{
    margin-left: 0px;
  }

50%{
  transform: rotate(2deg);;
}
}

@keyframes list {
50%{
  transform: rotate(1deg);
}
}

@keyframes toms {
  to{
    margin-right: 52px
  }

  from{
    margin-left: 52px;
  }

20% {
  opacity: 50;
}

50%{
  transform: rotate(5deg);
}
}

#man {
  position: absolute;
  top:400px;
  left:800px;
  animation-name: man;
  animation-duration: 5s;
  animation-iteration-count: infinite;
}

@keyframes man {
  to{
    right:400px;
    top:80px;
    opacity:0;
  }
}



.navbar {
  background-color: #b5d1ff;
    overflow: hidden;
    position: relative;
    bottom: 0;
    width: 100%;
    opacity: 25%;
    font-family: cursive;
}

.copyright{
	margin-left: 30px;
	float: left;
}

.social{
	float: right;
	margin-right: 5px;
	margin-left: 20px;
}
