h1{
  font-family: fantasy;
  font-size: 35pt;
  background-color: #f9ba95;
  color: #a84000;
  display: inline-block;
  animation-timing-function: linear;
  animation-name: crazymargin;
  animation-duration: 1s;
  animation-direction: alternate;
  animation-iteration-count: infinite;
  z-index:1px;
}

h2{
  font-family: cursive;
  font-size: 25pt;
  animation-timing-function: cubic-bezier();
  animation-name: tom;
  animation-duration: 4s;
  animation-direction: alternate-reverse;
  animation-iteration-count: infinite;
  z-index:1px;

}

h4{
  animation-timing-function: cubic-bezier();
  animation-name: tom;
  animation-duration: 4s;
  animation-direction: alternate-reverse;
  animation-iteration-count: infinite;
  z-index:1px;
  font-family: fantasy;
    font-weight: bolder;
    font-size: 35pt;
    color: #a84000;
    border: 5px solid #f29063;
    background-color:#f9d19f;
  	border-radius: 30px;
	width: 1100px;
  	margin: 5px;
  	line-height: 70px;
  	text-align: center;

}

h5{
  font-size: 30pt;
  font-style: bold;
  font-family: fantasy;
}

h3{
  font-family: cursive;
  font-size: 25pt;
  animation-timing-function: cubic-bezier();
  animation-name: tom;
  animation-duration: 3s;
  animation-direction: alternate-reverse;
  animation-iteration-count: infinite;
  line-height: 0px;
}

p{
    font-family: fantasy;
    font-weight: bolder;
    font-size: 35pt;
    color: #ffbb00;
    border: 5px solid #ffbb00;
    background-color:#f9ff91;
    border-radius: 30px;
    margin: 10px;
    line-height: 70px;
    width: 300px;
    text-align: center;
}


ul {
               font-size: 30px;
               font-style: bold, italic;
               font-family: inherit;
               margin:75px;
               padding:-125px;
               text-align: justify;
               list-style-image:: url('loader.gif');

           }
           ul  li {
               padding: 0px 0px;
           }

 .home {
             position: fixed;
             top: 35px;
             left: 35px;
             z-index: 10px;
             padding-bottom: 25px;
           }


.swing
{
        -webkit-animation: swing 1s ease;
        animation: swing 1s ease;
        -webkit-animation-iteration-count: 1;
        animation-iteration-count: infinite;
        animation-timing-function:cubic-bezier();
        position: relative;
        top:-10%;
    	right:0;
    	bottom:0;
    	left:60%;
        z-index: 2; 
        margin-bottom: 0px;             
}

body {
  margin: 0;
  padding: 0;
  cursor: url('jackson.gif'), default;
  border: 15px solid #fce25f;
  border-radius: 30px;
  margin: 10px;
}


html {
    background: url(mosaic4.jpg);
    background-size: cover;
    opacity: 100%
  }

@keyframes crazymargin {
  from{
    margin-left: 0px;
  }

20% {
  opacity: 50;
}

50%{
  transform: rotate(-5deg);
  background-color: #fff3c1;
}
}

@keyframes paragraph {
  from{
    margin-left: 0px;
  }

50%{
  transform: rotate(2deg);;
}
}

@keyframes tom {
  to{
    margin-right: 5px
  }

  from{
    margin-left: 5px;
  }

20% {
  opacity: 25;
}

50%{
  transform: rotate(2deg);
}
}

@keyframes tomx {
  to{
    margin-right: -5px
  }

  from{
    margin-left: -5px;
  }

20% {
  opacity: 25;
}

50%{
  transform: rotate(-2deg);
}
}

@keyframes list {
50%{
  transform: rotate(1deg);
}
}

@keyframes toms {
  to{
    margin-right: 52px
  }

  from{
    margin-left: 52px;
  }

20% {
  opacity: 50;
}

50%{
  transform: rotate(5deg);
}
}

#man {
  position: absolute;
  top:400px;
  left:800px;
  animation-name: man;
  animation-duration: .5s;
  animation-iteration-count: infinite;
}

@keyframes man {
  to{
    right:400px;
    top:500px;
    opacity:0;
  }
}

@-webkit-keyframes swing
{
    15%
    {
        -webkit-transform: translateX(5px);
        transform: translateX(5px);
    }
    30%
    {
        -webkit-transform: translateX(-5px);
       transform: translateX(-5px);
    }
    50%
    {
        -webkit-transform: translateX(3px);
        transform: translateX(3px);
    }
    65%
    {
        -webkit-transform: translateX(-3px);
        transform: translateX(-3px);
    }
    80%
    {
        -webkit-transform: translateX(2px);
        transform: translateX(2px);
    }
    100%
    {
        -webkit-transform: translateX(0);
        transform: translateX(0);
    }
}
@keyframes swing
{
    15%
    {
        -webkit-transform: translateX(5px);
        transform: translateX(5px);
    }
    30%
    {
        -webkit-transform: translateX(-5px);
        transform: translateX(-5px);
    }
    50%
    {
        -webkit-transform: translateX(3px);
        transform: translateX(3px);
    }
    65%
    {
        -webkit-transform: translateX(-3px);
        transform: translateX(-3px);
    }
    80%
    {
        -webkit-transform: translateX(2px);
        transform: translateX(2px);
    }
    100%
    {
        -webkit-transform: translateX(0);
        transform: translateX(0);
    }
}


hr { 
    display: block;
    margin-top: 1em;
    margin-bottom: 1em;
    margin-left: auto;
    margin-right: auto;
    border-width: 8px;
    border-style: solid;
    border-color: #fce25f;
}

.navbar {
  background-color: #fce25f;
    overflow: hidden;
    position: relative;
    bottom: 0;
    width: 100%;
    opacity: 25%;
    font-family: cursive;
}

.copyright{
	margin-left: 30px;
	float: left;
}

.social{
	float: right;
	margin-right: 5px;
	margin-left: 20px;
}


.shake {
	display:inline-block;
	height: 250px;
	width: 250px;
	border-radius: 50% 50% 50% 50%;
}
.shake {
	display:inline;
	position:relative;
	float: left;
}

@-webkit-keyframes spaceboots {
	{ -webkit-transform: translate(11px, 8px) rotate(360deg); }
	10% { -webkit-transform: translate(-6px, -4px) rotate(-4deg); }
	20% { -webkit-transform: translate(-6px, 12px) rotate(2deg); }
	30% { -webkit-transform: translate(8px, 4px) rotate(0deg); }
	40% { -webkit-transform: translate(2px, -6px) rotate(2deg); }
	50% { -webkit-transform: translate(-2px, 4px) rotate(-5deg); }
	60% { -webkit-transform: translate(-6px, 2px) rotate(0deg); }
	70% { -webkit-transform: translate(12px, 2px) rotate(-2deg); }
	80% { -webkit-transform: translate(-6px, -2px) rotate(2deg); }
	90% { -webkit-transform: translate(4px, 4px) rotate(-6deg); }
	100% { -webkit-transform: translate(2px, -8px) rotate(-2deg); }
}
.shake:hover,
.shake:focus {
	-webkit-animation-name: spaceboots;
	-webkit-animation-duration: .75s;
	-webkit-transform-origin:50% 50%;
	-webkit-animation-iteration-count: infinite;
	-webkit-animation-timing-function: linear;
}



